@model ContestViewModel
@{
    ViewData["Title"] = "Tävling";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" id="index-view">

    <div id="welcome-text">
        <h2>Välkommen till @Model.ContestName @Model.Date.Year</h2>
    </div>
    <hr />

    <div id="p-introtext">
        <p> Här kan du se hur du och dina vänner ligger till i tävlingen</p>
        <p>
            Är du inte med? Ta kontakt med Admin för tävlingen
        </p>
       <a class="btn btn-primary" role='button' href='mailto:jimmy@grunert.nu?subject={0}'>Anmäl mig till tävlingen</a>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <hr />
        <div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addParticipant">
                Lägg till tävlande
            </button>

        </div>
    }
    <hr />

    <section class="panel panel-default">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>@Model.Species 1</th>
                    <th>@Model.Species 2</th>
                    <th>@Model.Species 3</th>
                    <th>@Model.Species 4</th>
                    <th>@Model.Species 5</th>
                    <th>@Model.Species 6</th>
                    <th>@Model.Species 7</th>
                    <th>@Model.Species 8</th>
                    <th>@Model.Species 9</th>
                    <th>@Model.Species 10</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Participants.OrderBy(x => x.Name))
                {
                    //collection.Skip(Math.Max(0, collection.Count() - N));
                    <tr>
                        <th>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a data-toggle="modal" data-id="@user.Id" title="Lägg till fisk" class="open-GetUserId btn btn-primary" href="#AddFish">@user.Name</a>
                            }
                            else
                            {
                                <p>@user.Name Total: @Model.Fishes.Where(x => x.ParticipantId == user.Id).OrderBy(l => l.Length).Skip(Math.Max(0, Model.Fishes.Where(x => x.ParticipantId == user.Id).Count() - 10)).Sum(x => x.Length)CM </p>
                            }
                        </th>
                        @foreach (var item in Model.Fishes.Where(x => x.ParticipantId == user.Id).OrderBy(l => l.Length).Skip(Math.Max(0, Model.Fishes.Where(x => x.ParticipantId == user.Id).Count() - 10)))
                        {
                            <td>@item.Length CM</td>
                        }
                    </tr>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <tr>
                            <td>Total: @Model.Fishes.Where(x => x.ParticipantId == user.Id).OrderBy(l => l.Length).Skip(Math.Max(0, Model.Fishes.Where(x => x.ParticipantId == user.Id).Count() - 10)).Sum(x => x.Length)CM </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>
</div>


<!-- The Modal Participants-->
<div class="modal" id="addParticipant">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Lägg till tälande</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form asp-action="AddParticipant">
                    <div class="form-group" id="add-div-name">
                        @Html.LabelFor(n => n.Participant.Name)
                        @Html.TextBoxFor(n => n.Participant.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(w => w.ContestName)
                    </div>
                    <div class="form-group" id="add-div-id" hidden="">
                        @Html.TextBoxFor(i => Model.Id, new { @class = "form-control" })
                    </div>

                    <div>
                        <input class="btn btn-success" type="submit" asp-action="AddParticipant" value="Spara" />
                        <a class="btn btn-dark" style="padding-left:1rem;" asp-action="Index">Hem</a>
                    </div>
                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal Fishes-->
<div class="modal" id="AddFish">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Lägg till fångst</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form asp-action="AddFish">
                    <div class="form-group" id="add-div-id" hidden="">
                        @Html.TextBoxFor(i => Model.Id, new { @class = "form-control" })
                    </div>
                    <div class="form-group" id="add-div-name">
                        @Html.LabelFor(f => f.Fish.Length)
                        @Html.TextBoxFor(f => f.Fish.Length, new { @class = "form-control" })

                    </div>
                    <div class="form-group" id="add-div-id" hidden="">
                        <label asp-for="ParticipantId"></label>
                        <input type="text" class="form-control" asp-for="ParticipantId" id="userId" />
                        <span asp-validation-for="ParticipantId"></span>
                    </div>

                    <div>
                        <input class="btn btn-success" type="submit" asp-action="AddFish" value="Spara" />
                        <a class="btn btn-dark" style="padding-left:1rem;" asp-action="Index">Hem</a>
                    </div>
                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).on("click", ".open-GetUserId", function () {
        var myUserId = jQuery(this).data('id');
        jQuery(".modal #userId").val(myUserId);
    });
</script>